r-interface {
    z-index: 9;
}

#headers {
    text-align: center;
    padding-bottom: 8px;
}

.optDialog {
    width: 500px;
}

paper-slider {
    width: 100%;
}

paper-dropdown-menu {
    min-width: 150px;
}
